@theme {
  /* === Background Layers === */
  --color-bg-1: oklch(0.19 0 0); /* base app background */
  --color-bg-2: oklch(0.3 0.01 270); /* raised surfaces */
  --color-bg-glass: color-mix(in oklch, var(--color-bg-2) 25%, transparent);

  /* === Borders === */
  --color-bdr: oklch(0.3 0.009 270);
  --color-bdr-2: oklch(0. 0.009 270);
  --color-bdr-glass: color-mix(in oklch, var(--color-bdr) 60%, transparent);
  --color-bdr-glass-2: color-mix(in oklch, var(--color-bdr-2) 80%, transparent);
  --color-bdr-muted: oklch(0.25 0.008 260 / 0.3);

  /* === Accents === */
  --color-primary: oklch(0.83 0.068 200.67);
  --color-secondary: oklch(0.4 0.078 203.15);
  --color-accent: oklch(0.9 0.115 202.18);
  --color-accent-hover: oklch(0.8 0.13 202.18);

  /* === Text === */
  --color-text-main: oklch(0.94 0.018 201.11);
  --color-text-muted: oklch(0.70 0.010 215.90);
  --color-text-invert: oklch(0.15 0.010 270);
}


.glass {
  backdrop-filter: blur(8px);
  background-color: var(--color-bg-glass);
  border: 1px solid var(--color-bdr-glass);
  box-shadow:
    inset 0 1px 1px oklch(0.85 0.015 270 / 0.3); /* subtle top highlight */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
