@theme {
  /* === Background Layers === */
  --color-surface-dark: oklch(0.17 0.002 270);
  --color-surface: oklch(0.23 0.002 270);
  --color-surface-light: oklch(0.3 0.002 270);
  --color-surface-highlight: oklch(0.4 0.002 270);

  --color-surface-glass: oklch(0.55 0.003 270 / 0.1); /* raised surfaces & glass */

  /* === Borders === */
  --color-bdr: oklch(0.4 0.009 270);
  --color-bdr-glass: color-mix(in oklch, var(--color-bdr) 60%, transparent);

  /* === Accents === */
  --color-primary: oklch(0.85 0.07 200);
  --color-secondary: oklch(0.35 0.07 200);
  --color-accent: oklch(0.9 0.115 202.18);

  /* === Text === */
  --color-text-main: oklch(0.97 0.018 270);
  --color-text-muted: oklch(0.75 0.010 270);
  --color-text-invert: oklch(0.15 0.010 270);
}

@layer utilities {
  .highlight {
    box-shadow: inset 0 1px 2px oklch(0.5 0.009 270);
  }

  .shadow {
    box-shadow:
      0 1px 4px oklch(0.1 0.009 270),
      0 4px 8px oklch(0.2 0.009 270);
  }

  .glass {
    backdrop-filter: blur(9px);
    background-color: var(--color-bg-glass);
    border: 1px solid var(--color-bdr-glass);
    box-shadow: inset 0 1px 1px oklch(0.85 0.015 270 / 0.25);
    transition: all 0.3s ease;
  }
}
